/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

service-consumer/src/test/
*/.mvn
*/mvnw
*/mvnw.cmd
service-facade/src/main/resources/
service-facade/src/test/
service-provider/src/test/
*/target
*/logs
